<!--<button type="button" class="btn btn-raised" ng-click="vm.isCamerasCollapsed = !vm.isCamerasCollapsed">Toggle cameras collapse</button>-->
<!--<button type="button" class="btn btn-raised" ng-click="vm.isPlayersCollapsed = !vm.isPlayersCollapsed">Toggle players collapse</button>-->
<button type="button" class="btn btn-raised" ng-click="vm.update()">Update</button>


<!--<div class="row">-->
<!--<div class="col-md-8">-->
<!--<canvas id="fabricCanvas"></canvas>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3"><b>Cameras</b></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="camera in vm.map.cameras"
        ng-click="vm.setSelected(camera)"
        ng-class="{ 'success': vm.selected == camera }">
        <td colspan="2">{{camera.name}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        ng-click="vm.deleteCamera(camera.id)"
                        has-any-authority="ROLE_ADMIN, ROLE_DIRECTOR"
                        class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
            </div>
        </td>
    </tr>
    <tr class="info" ng-repeat-end>
    <!--<tr ng-repeat-end uib-collapse="false">-->
        <td colspan="3" style="padding-top: 0; padding-bottom: 0">
            <div uib-collapse="vm.selected != camera">
                <p>id: {{camera.id}}</p>
                <p>x: {{camera.x}}</p>
                <p>y: {{camera.y}}</p>
            </div>
        </td>
    </tr>

    <tr class="btn btn-raised btn-xs" ng-click="vm.addCamera()">
        <td></td>
        <td>Add camera</td>
        <td></td>
    </tr>
</table>

<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3"><b>Players</b></th>
    </tr>
    </thead>
    <tr ng-repeat-start="player in vm.map.players"
        ng-click="vm.setSelected(player)"
        ng-class="{ 'success': vm.selected == player }">
        <!--<td>{{player.id}}</td>-->
        <td colspan="2">{{player.name}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        ng-click="vm.deletePlayer(player.id)"
                        has-any-authority="ROLE_ADMIN, ROLE_DIRECTOR"
                        class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
            </div>
        </td>
    </tr>
    <tr class="info" ng-repeat-end>
        <!--<tr ng-repeat-end uib-collapse="false">-->
        <td colspan="3" style="padding-top: 0; padding-bottom: 0">
            <div uib-collapse="vm.selected != player">
                <p>id: {{player.id}}</p>
                <p>x: {{player.x}}</p>
                <p>y: {{player.y}}</p>
            </div>
        </td>
    </tr>

    <tr class="btn btn-raised btn-xs" ng-click="vm.addPlayer()">
        <td></td>
        <td>Add player</td>
        <td></td>
    </tr>
    </tbody>
</table>
<!--</div>-->
<!--</div>-->
