<button type="button"
        class="btn btn-raised"
        ui-sref="map.load-background">
    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
    Change background
</button>
<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3"><h3>Cameras</h3></th>
    </tr>
    </thead>
    <tbody ng-switch="vm.hasCameras">
    <tr ng-switch-when="false">
        <td colspan="2"><h4 class="text-muted">Please double click the map to add your first camera.</h4></td>
    </tr>
    <tr ng-repeat-start="camera in vm.map.cameras"
        ng-click="vm.setSelected(camera)"
        ng-class="{ 'success': vm.selected == camera }">
        <td colspan="2"><h4 class="text-muted"><i class="glyphicon glyphicon-facetime-video"></i> &nbsp;
            {{camera.name}}
        </h4></td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        ng-click="vm.deleteCamera(camera.id)"
                        has-any-authority="ROLE_ADMIN, ROLE_DIRECTOR"
                        class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
            </div>
        </td>
    </tr>
    <tr class="info" ng-repeat-end>
        <td colspan="3" style="padding-top: 0; padding-bottom: 0">
            <div uib-collapse="vm.selected != camera">
                <p><i class="glyphicon glyphicon-camera"></i> &nbsp; Type: {{camera.cameraType}}</p>
                <p><i class="glyphicon glyphicon-eye-open"></i> &nbsp; Lens: {{camera.lensType}}</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3"><h3>Players</h3></th>
    </tr>
    </thead>
    <tbody ng-switch="vm.hasPlayers">
    <tr ng-switch-when="false">
        <td colspan="2"><h4 class="text-muted">Please double click the map to add your first player.</h4></td>
    </tr>
    <tr ng-repeat-start="player in vm.map.players"
        ng-click="vm.setSelected(player)"
        ng-class="{ 'success': vm.selected == player }">
        <td colspan="2"><h4 class="text-muted"><i class="glyphicon glyphicon-user"></i> &nbsp; {{player.name}}</h4></td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        ng-click="vm.deletePlayer(player.id)"
                        has-any-authority="ROLE_ADMIN, ROLE_DIRECTOR"
                        class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
            </div>
        </td>
    </tr>
    <tr class="info" ng-repeat-end>
        <td colspan="3" style="padding-top: 0; padding-bottom: 0">
            <div uib-collapse="vm.selected != player">
            </div>
        </td>
    </tr>
    </tbody>
</table>
