<div>
    <h2>Cameras</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary"
                        has-any-authority="ROLE_ADMIN,ROLE_CAMERA_OPERATOR"
                        ui-sref="camera.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Camera
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="x"><span>X</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="y"><span>Y</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="map.name"><span>Map</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="camera in vm.cameras track by camera.id">
                    <td><a ui-sref="camera-detail({id:camera.id})">{{camera.id}}</a></td>
                    <td>{{camera.name}}</td>
                    <td>{{camera.x}}</td>
                    <td>{{camera.y}}</td>
                    <td>
                        <a ui-sref="map-detail({id:camera.map.id})">{{camera.map.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="camera-detail({id:camera.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    has-any-authority="ROLE_ADMIN,ROLE_CAMERA_OPERATOR"
                                    ui-sref="camera.edit({id:camera.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    has-any-authority="ROLE_ADMIN,ROLE_CAMERA_OPERATOR"
                                    ui-sref="camera.delete({id:camera.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
