
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCueLabel">Create or edit a Cue</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cue.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cue.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_script">Script</label>
            <select class="form-control" id="field_script" name="script" ng-model="vm.cue.script" ng-options="script as script.name for script in vm.scripts track by script.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_bar">Bar</label>
            <input type="text" class="form-control" name="bar" id="field_bar"
                   ng-model="vm.cue.bar"
            />
        </div>
        <div class="form-group">
            <label for="field_duration">Duration</label>
            <input type="text" class="form-control" name="duration" id="field_duration"
                   ng-model="vm.cue.duration"
            />
        </div>
        <div class="form-group">
            <label for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                   ng-model="vm.cue.action"
            />
        </div>
        <div class="form-group">
            <label for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                    ng-model="vm.cue.action"
                     />
        </div>
        <div class="form-group">
            <label for="field_player">Player</label>
            <select class="form-control" id="field_player" name="player" ng-model="vm.cue.player" ng-options="player as player.name for player in vm.players track by player.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_camera">Camera</label>
            <select class="form-control" id="field_camera" name="camera" ng-model="vm.cue.camera" ng-options="camera as camera.name for camera in vm.cameras track by camera.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.cue.project" ng-options="project as project.name for project in vm.projects track by project.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
