<div>
    <h2>Cues</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary"
                        has-any-authority="ROLE_ADMIN,ROLE_DIRECTOR"
                        ui-sref="cue.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Cue
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="script.name"><span>Script</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bar"><span>Bar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span>Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="action"><span>Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="player.name"><span>Player</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="camera.name"><span>Camera</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="project.name"><span>Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cue in vm.cues track by cue.id">
                    <td><a ui-sref="cue-detail({id:cue.id})">{{cue.id}}</a></td>
                    <td>
                        <a ui-sref="script-detail({id:cue.script.id})">{{cue.script.name}}</a>
                    </td>
                    <td>{{cue.bar}}</td>
                    <td>{{cue.duration}}</td>
                    <td>{{cue.action}}</td>
                    <td>
                        <a ui-sref="player-detail({id:cue.player.id})">{{cue.player.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="camera-detail({id:cue.camera.id})">{{cue.camera.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:cue.project.id})">{{cue.project.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cue-detail({id:cue.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    has-any-authority="ROLE_ADMIN,ROLE_DIRECTOR"
                                    ui-sref="cue.edit({id:cue.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    has-any-authority="ROLE_ADMIN,ROLE_DIRECTOR"
                                    ui-sref="cue.delete({id:cue.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
