/*
OVERRIDE ALL CSS SETTINGS
*/

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

canvas#concertMap {
    width: 100%;
    background-image: url("/content/images/grid15x15.png");
}
