/*
OVERRIDE ALL CSS SETTINGS
*/

@media (min-width: 768px) {
    .container {
        width: 95%;
    }
}

canvas#concertMap {
    width: 100%;
    background-image: url("/content/images/concertzaal.jpg");
}

.modal-footer form {
    display: inline-block;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
